<div class="jumbotron">
  <h1>Welcome to Choose-a-Band</h1>
  <p>This is a simple application to help you decide what to listen to.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Sign up now!</a>
  </p>
</div>