<h1>RandBand</h1>

<p>Hello <%= @user.username %>,</p>

<p>
  Welcome to RandBand! Click on the link below to activate your account:
</p>


<%= link_to edit_account_activation_url( @user.activation_token, email: @user.email ), edit_account_activation_url( @user.activation_token, email: @user.email ) %>