<div class="jumbotron">
  <center>
    <h1>Admin Home</h1>
    <%= link_to "Users", admin_users_path, class: "btn btn-lg btn-success" %>
    <%= link_to "Bands", admin_bands_path, class: "btn btn-lg btn-success" %>
  </center>
</div>