<% provide( :title, "Choose" ) %>

<div class="well">
  <center>
    <div data-content="replace">
      <%= render 'choose_content' %>
    </div>
    <br/>
    <%= link_to "Try Again", "", class: "btn btn-default", remote: true %>
	</center>
</div>
