<div class="jumbotron">
  <center>
    <% if @band.external_url.blank? %>
      <h1><%= link_to @band.name, band_link( @band ) %></h1>
    <% else %>
      <h1><%= link_to @band.name, @band.external_url %></h1>
    <% end %>
  </center>
</div>
