<% provide( :title, "Choose" ) %>

<div class="well">
  <center>
    <div data-content="replace">
      <%= band_image_tag( @band ) %>
      <%= band_external_link_tag( @band ) %>
    </div>
    <%= link_to "Try Again", "", class: "btn btn-default", remote: true %>
	</center>
</div>
