<% provide( :title, "Bands" ) %>

<%= form_tag bands_url, method: :get, class: "form-horizontal" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for a band...", autofocus: true %>
    <span class="input-group-btn">
      <%= submit_tag "Search Bands", :name => nil, class: "btn btn-primary" %>
    </span>
  </div>
<% end %>

<br>

<% if @bands.any? %>

  <div class="list-group">
    <%= render @bands %>
  </div>

<% elsif !params[ :search ].blank? %>

  <h4>No bands found...</h4>

<% end %>