<% provide( :title, @band.name ) %>

<div class="span3 well">
  <center>
    <%= image_tag( @band.images.first[ "url" ], alt: @band.name, style: "max-height:200px", class: "img-thumbnail" ) unless @band.images.empty? %>
    <h1><%= link_to @band.name, @band.external_urls[ "spotify" ], target: "_blank", rel: "noopener noreferrer" %></h1>
    <%= content_tag( :em, @band.genres.join( ", " ) ) unless @band.genres.empty? %>
    <%= render "like_form" %>
	</center>
</div>