<footer class="footer">
  <div class="container">
    <span class="text-muted pull-left">Created by <a href="https://github.com/anickle060193">anickle060193</a>.</span>

    <span class="text-muted pull-right">
      Powered by <a href="https://developer.spotify.com", target="_blank", ref="noopener noreferrer"><%= image_tag "spotify_logo.png", style: "width:80px" %></a>
    </span>
  </div>
</footer>